 .u-section-1 {
  min-height: 930px;
}

.u-section-1 .u-video-1 {
  width: 1277px;
  height: 943px;
  margin: -6px -1px 0;
}

.u-section-1 .u-image-1 {
  width: 749px;
  height: 544px;
  object-position: 50% 0%;
  margin: -856px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 394px;
  width: 722px;
  margin: -341px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px 30px 45px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 44px auto 0 1px;
}

.u-section-1 .u-text-2 {
  font-size: 3.4375rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 16px 0 0 1px;
}

.u-section-1 .u-group-2 {
  width: 749px;
  min-height: 222px;
  margin: -23px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 9px 24px;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.9286em;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1366px;
  }

  .u-section-1 .u-video-1 {
    width: 1014px;
    height: 761px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -715px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -236px;
    margin-left: calc(((100% - 940px) / 2) + -27px);
  }

  .u-section-1 .u-text-2 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-group-2 {
    margin-top: 370px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-bottom: 26px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1124px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 540px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 523px;
    margin-top: -494px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -215px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1366px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 405px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 392px;
    margin-top: -418px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -296px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 74px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-bottom: -266px;
    margin-left: 21px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: 641px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-video-1 {
    width: 340px;
    height: 255px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 247px;
    margin-top: -268px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-1 {
    width: 401px;
    margin-top: -12px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 444px;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 35px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 226px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/7f3c6ca710141a1086b2a0ea651ff994312f9432cd49aa34e05b32a7d7a41cd60aaaa25e1bb3cfdf7a517f9c31f9c66ebb1f7235b2365b560fea41_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 274px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto;
  padding: 16px 31px 17px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 277px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-3 {
  background-image: url("images/3848e8a156241b80362e55982d1f62898124145be48a27e4d2ef30f322078ed25c49188bbac7db18ca5f97c822a9d963b7f51ff7a25dba6370e79a_12801.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("images/2eafa455b6c586533db067fda9a188fdc334c4297226a9247e9c3a9d183ff247a1ebdd712b738f6fd2fd4b66312e389c5b46fea16f1a0c2cf95547_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-image-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }
}